@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f3f5;
  line-height: 1;
}

// Color Variables
$color-primary-pink: #e64980;
$color-dark-gray: #495057;
$color-light-gray: #ced4da;
$color-light-extra-gray: #f1f3f5;

$color-red-danger: #fa5252;
$color-red-light: #ffe3e3;

$color-white: #fff;
$color-black: #222;

// Font Variables
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Other Variables
$border-radius-5px: 5px;
