@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f3f5;
  line-height: 1;
}

// Color Variables
$color-pink-primary: #e64980;
$color-pink-light: #f783ac;
$color-pink-light-extra: #ffdeeb;

$color-gray-dark: #495057;
$color-gray-dark-2: #adb5bd;
$color-gray-light: #ced4da;
$color-gray-light-extra: #f1f3f5;

$color-green-success: #40c057;

$color-red-deep: #e03131;
$color-red-medium: #fa5252;
$color-red-light: #ffe3e3;

$color-white: #fff;
$color-black: #222;

// Font Variables
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Other Variables
$border-radius-5px: 5px;
$box-shadow-1: 1px 1px 2px rgba(0, 0, 0, 0.2); ;
