@import '../../index.scss';

.container {
  max-width: 144rem;
  margin: 10rem auto;
  padding: 0 3.2rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__header--title {
    font-size: 2.6rem;
    font-weight: $font-medium;
    color: $color-black;
  }
}
