@import '../index.scss';

.contact {
  &__container {
    max-width: 90rem;
  }

  &__count {
    font-size: 1.4rem;
    font-weight: $font-medium;
  }

  &__no-contact--text {
    text-align: center;
    font-size: 2rem;
    font-weight: $font-regular;
    margin-top: 10rem;
    color: $color-black;
  }
}

.add-contact__container {
  max-width: 110rem;
}
