@import '../../../index.scss';

.image-upload {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__preview {
    background-color: $color-light-gray;
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__alter-text {
    font-size: 1.2rem;
    font-weight: $font-medium;
  }

  &__btn {
    padding: 0.7rem 2rem;
    font-weight: $font-bold;
    font-size: 1.4rem;
  }
}
