@import '../../index.scss';

.confirm-modal {
  &__container {
    position: fixed;
    top: 30vh;
    left: 50%;
    padding: 3rem 4rem;
    border-radius: $border-radius-5px;
    transform: translate(-50%);
    z-index: 100;
    overflow: hidden;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: $box-shadow-2;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__warning-icon {
    font-size: 4rem;
    color: $color-red-deep;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: $font-light;
    color: $color-gray-dark;
  }

  &__content {
    text-align: center;
  }

  &__message {
    font-size: 1.3rem;
    font-weight: $font-regular;
    color: $color-gray-dark;
  }

  &__footer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__btn--cancel,
  &__btn--confirm {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 1.3rem;
  }

  &__btn--cancel {
    background-color: $color-gray-dark-3;
  }

  &__btn--confirm {
  }
}
