@import '../../../index.scss';

.main-navigation {
  &__list {
    display: flex;
    list-style: none;
    gap: 3.2rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-white;
  }

  // &__link:hover,
  // &__link:active {
  // }

  &__list--item {
    display: flex;
    align-items: center;
  }

  &__btn--logout {
    font-family: $font-family-poppins;
    border: none;
    background: none;
    font-size: 1.6rem;
    color: $color-white;
    padding: 0 2rem;
    border: 1px solid $color-white;
    cursor: pointer;
  }
}
