@import '../../index.scss';

.loading-bar {
  &__container {
    position: fixed;
    border-radius: $border-radius-5px;
    top: 10rem;
    left: 50%;
    transform: translate(-50%);
    padding: 2rem 4rem;
    background-color: $color-pink-light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }

  &__spinner {
    left: 2rem;
    display: flex;
    justify-content: center;
  }

  &__spinner::after {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 2px solid #eee;
    border-top-color: #555;
    border-radius: 50%;
    animation: loading 1s linear infinite;
  }

  @keyframes loading {
    to {
      transform: rotate(1turn);
    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: $font-medium;
    color: $color-white;
  }
}
