@import '../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray-dark;
  padding: 2rem 8rem 2rem 2rem;

  &__logo {
    font-size: 2rem;
    color: $color-white;
  }
}
