@import '../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray-dark;
  padding-right: 8rem;
  padding-left: 2rem;
  height: 6rem;

  &__logo {
    font-size: 2rem;
    color: $color-white;
  }
}
