@import '../../../index.scss';

.contact-item {
  &__container--main {
    background-color: $color-white;
    padding: 1rem 1rem 2rem 3.2rem;
    border-radius: $border-radius-5px;
    box-shadow: $box-shadow-1;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__fa-icon--edit,
  &__fa-icon--trash {
    font-size: 1.6rem;
    color: $color-black;
    cursor: pointer;
  }

  &__content--main {
    display: grid;
  }

  &__name-avatar--holder {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.6rem;
  }

  &__avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 2rem;
    font-weight: $font-medium;
    color: $color-pink-primary;
  }

  &__content--holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15rem;
  }

  &__content--left,
  &__content--right {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__content--right {
    padding-right: 8rem;
  }

  &__address,
  &__birth-info,
  &__phone,
  &__email {
    font-size: 1.3rem;
    font-weight: $font-regular;
  }

  &__fa-icon--phone,
  &__fa-icon--email,
  &__fa-icon--home,
  &__fa-icon--user {
    font-size: 1.2rem;
    color: $color-pink-primary;
  }

  &__fa-icon--home,
  &__fa-icon--user {
    margin-bottom: 0.1rem;
  }

  &__icon-item--holder {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}
