@import '../../index.scss';

.button {
  font-family: $font-family-poppins;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border: none;
  background-color: $color-pink-primary;
  color: $color-white;
  font-weight: $font-bold;
  border-radius: 5px;
  cursor: pointer;
}
